@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Oleo+Script:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* shared btn  */
.btn-primary{

}
.font-style{
    font-family:"Fira Sans", serif;
}
/* end  */
body{
    background-color:#F5F5F5 ;
}
header,main{
    max-width: 100rem;
    margin: 0 auto;
    /* background-color: #F5F5F5; */
    padding-bottom: 5rem;
}
/* this is nav section  */
.nav-container {
    width: 100rem;
    margin: 0 auto;
    padding: 1.5rem 0 1.5rem 0;
}
.nav-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-title h2{
    font-family: "Fira Sans", serif;
    font-size: 2rem;
    font-weight: bold;
}
.nav-title .sign-btn{
    color: #006A50;
    border: 2px solid #006A50;
    font-family:"Fira Sans", serif;
    font-weight: bold;
    background: none;
    border-radius: 6px; 
    padding: 1rem 2rem;
    cursor: pointer;
}
.sign-btn:hover{
    background-color: #3cca04;
    padding: 1rem 2rem;
    color: white;
    border: 2px solid #3cca04;
    transition: 0.4s ease;
    font-family:"Fira Sans", serif;
    font-weight: bold;

    
}
/* ended nav section  */
/* this is banner section start  */
.banner{
    width: 100rem;
    margin: 0 auto;
    background: #C6E4D6;
    border-radius: 1rem;
}
.banner-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
}
.banner-container .banner-left-side{
    width: 50%;
    margin-right: 1rem;
}
.banner-left-side .banner-title{
    font-family:"Fira Sans", serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #6A7972;
    margin-bottom: 1rem;
}
.banner-left-side .banner-title-content{
    font-family: "Fira Sans", serif;
    font-size: 3.5rem;
    font-weight: bold;
}
.banner-left-side .banner-btn{
    font-family:"Fira Sans", serif;
    font-size: 18px;
    font-weight: 700;
    padding: 17px 30px;
    margin-top: 1rem;
    background-color: #006A50;
    color: #FFFFFF;
    border: none;
    border-radius: 8px; 
    cursor: pointer;
}
.banner-btn:hover{
    background-color: rgb(5, 161, 135);
    color: black;
    transition: 0.4s ease;
}
.banner-left-side :hover .banner-btn  {
    background-color: #6caf9e;
    
}
/* done / ended first banner section  */
/* piller section start  */
.pillar-of-BD{
    margin-top: 3rem;
}
.pillar-header{
    font-family:"Fira Sans", serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #0E0E0E;
}
.pillar-card{
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    margin-top: 30px;
    
}
.pillar-card-design{
    background-color: white;
    padding: 20px;
    width:24.25rem;
    height:15.25rem;
    border: 3px solid rgb(245, 241, 241);
    margin-right: 10px;
    border-radius: 1rem;

}
.pillar-card-design .card-icon{
    padding-bottom: 25px;
}
.pillar-card-design .piller-title{
    color: #0E0E0E;
    font-family:"Fira Sans", serif;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 12px;
}
.pillar-card-design .piller-paragraph{
    color: #0E0E0E;
    font-family:"Fira Sans", serif;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.5;
}
/* card ended  */
/* start vision section  */
.vision{
    margin-top: 3rem;
}
.vision-header{
    justify-content: flex-start; 
}
.vision-header .vision-title{
    font-family:"Fira Sans", serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #0E0E0E;
    padding-bottom: 2rem;
}
.vision-header .vision-paragraph{
    color: #0E0E0E;
    font-family:"Fira Sans", serif;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.5;
    line-height: 2rem;
}
/* start vision card making  */
.vision-card{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    margin-top: 30px;

}
.vision-card-design{
    background-color: #D5E1F5;
    padding: 20px;
    width:30.62rem;
    height:18.31rem;
    border: 3px solid rgb(245, 241, 241);
    border-radius: 1rem;
    margin-right: 3rem;
}
.vision-card-design .vision-card-icon{
    padding-bottom: 2rem;
}
.vision-card-design .piller-title{
    color: #0E0E0E;
    font-family:"Fira Sans", serif;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 12px;
    padding-top: 1rem;
}
.vision-card-design .vision-paragraph{
    color: #0E0E0E;
    font-family:"Fira Sans", serif;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.5;
    line-height: 25px;
    padding-top: 1rem;
    margin-bottom: 2rem;
}
.vision-card-design .btn-vision-card{
    background-color: #5490F5;
    text-decoration: none;
    padding: 11px 20px;
    color: #F5F5F5;
    border-radius: 5px;
    font-family:"Fira Sans", serif;
    font-weight: 600;
    font-size: 16px;
}
.btn-vision-card:hover{
    background-color:#09A15C ;
}
/* vision second card design  */
.vision-card-design2{
    background-color: #C6E4D6;
    padding: 20px;
    width:30.62rem;
    height:18.31rem;
    border: 3px solid rgb(245, 241, 241);
    border-radius: 1rem;
    margin-right: 30px;
}
.vision-card-design2 .vision-card-icon2{
    padding-bottom: 2rem;
}
.vision-card-design2 .vision-title2{
    color: #0E0E0E;
    font-family:"Fira Sans", serif;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 12px;
    padding-top: 1rem;
}
.vision-card-design2 .vision-paragraph2{
    color: #0E0E0E;
    font-family:"Fira Sans", serif;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.5;
    line-height: 25px;
    padding-top: 1rem;
    margin-bottom: 2rem;
}
.vision-card-design2 .btn-vision-card2{
    background-color: #09A15C;
    text-decoration: none;
    padding: 11px 20px;
    color: #F5F5F5;
    border-radius: 5px;
    font-family:"Fira Sans", serif;
    font-weight: 600;
    font-size: 16px;
}
.btn-vision-card2:hover{
    background-color: #FFC239;
}
/* second card ended  */
/* third card maiking start  */
.vision-card-design3{
    background-color: #F7EBCF;
    padding: 20px;
    width:30.62rem;
    height:18.31rem;
    border: 3px solid rgb(245, 241, 241);
    border-radius: 1rem;
}
.vision-card-design3 .vision-card-icon3{
    padding-bottom: 2rem;
}
.vision-card-design3 .vision-title3{
    color: #0E0E0E;
    font-family:"Fira Sans", serif;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 12px;
    padding-top: 1rem;
}
.vision-card-design3 .vision-paragraph3{
    color: #0E0E0E;
    font-family:"Fira Sans", serif;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.5;
    line-height: 25px;
    padding-top: 1rem;
    margin-bottom: 2rem;
}
.vision-card-design3 .btn-vision-card3{
    background-color: #FFC239;
    text-decoration: none;
    padding: 11px 20px;
    color: #F5F5F5;
    border-radius: 5px;
    font-family:"Fira Sans", serif;
    font-weight: 600;
    font-size: 16px;
}
.btn-vision-card3:hover{
    background-color: #006A50;

}
/* ended third card  */
/* dr.younus sir quatation start  */
.dr-Younus{
    margin-top: 2rem;
}
.box{
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: left 20px top;
    border: 1px solid rgb(231, 230, 230);
    width: 1280px;
    height: 220px;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
    border-radius: 8px;
    background-color: #FFFFFF;

}
.box .box-content{
    padding-top: 20px;
}
.box-content .box-para{
    font-family:"Fira Sans", serif;
    font-weight: 600;
    font-size: 16px;
    opacity: 0.5;
    line-height: 25px;
}
.box-content .Muhammad-yunus{
    padding-top: 2rem;
    opacity: 0.6;
}
/* ended dr yunus sir quatation  */
/* start opinion matter section  */
.opinion-container{
    margin-bottom: 2rem;
    margin-top: 3rem;
}
.opinion-header{
    font-family:"Fira Sans", serif;
    font-weight: bold;
    font-size: 40px;
}

.container {
    width: 100%;
}

.row {
    display:flex;
   
    width: 100%;
    margin-bottom: 10px; 
}
.table{
    background-color: #C6E4D6;
}
.table h2{
    font-family:"Fira Sans", serif;
    font-size: 20px;
    font-weight: 500;
    color: #0E0E0E;
}
.column {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc; 
    box-sizing: border-box; 
   
} 
.content{
    font-family:"Fira Sans", serif;
    font-size: 16px;
    font-weight: 500;
    color: #0E0E0E;
}
/* table ended  */
/* recent news start  */
.recent-news{
    margin-bottom: 2rem;
    margin-top: 3rem;
}
.recent-news-container{
    font-family:"Fira Sans", serif;
    font-weight: bold;
    font-size: 30px;
    color: #0E0E0E;
    
}

.recent-news-container .recent-title{
    margin-bottom: 2.3rem;
}
.recent-news-container .recent-paragraph{
    font-family:"Fira Sans", serif;
    color: #0E0E0E;
    font-size: 16px;
    opacity: 0.5;
    line-height: 25px;
}

.news-card-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
}
.news-card-container .aljazeera-content{
    width: 60%;
}
.aljazeera-content .aljazeera-title{
    font-family:"Fira Sans", serif;
    color: #0E0E0E;
    font-size: 32px;
    padding-bottom: 22px;
    
}
.news-card-container .aljazeera-img{
    width: 40%;
    text-align: right;
    
}
.news-card-container .aljazeera-img2{
    width: 40%;
    text-align: left;
    
}
.aljazeera-img2 img{
    border-radius: 10px;
}
.news-card-container .date{
    padding: 10px;
    opacity: 0.5;
}
.news-card-container .news-paragraph{
    font-family:"Fira Sans", serif;
    color: #0E0E0E;
    font-size: 16px;
    opacity: 0.6;
    line-height: 25px;
    margin-bottom: 2rem;
}
.aljazeera-img img{
    border-radius: 15px;
}
.aljazeera-content .btn-news-zeera{
    background-color: #006A50;
    text-decoration: none;
    padding: 11px 20px;
    color: #F5F5F5;
    border-radius: 5px;
    font-family:"Fira Sans", serif;
    font-weight: 600;
    font-size: 16px;
}
.btn-news-zeera:hover{
    background-color: #3cca04;
}
/* end al jazeera news section  */
.donate{
    margin-top: 3rem;
    
}
.donate-container{
    text-align: center;
    width: 60%;
    margin: 0 auto;
}
.donate-container .donate-title{
    font-family:"Fira Sans", serif;
    color: #0E0E0E;
    font-size: 40px;
    padding-bottom: 2rem;
}
.donate-container .donate-header-content{
    font-family:"Fira Sans", serif;
    color: #0E0E0E;
    font-size: 16px;
    opacity: 0.5;
    line-height: 25px;
}
.donte-amount{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
   
}
.donte-amount .donate-link{
    display: flex;
  
}
.donate-link li{
    list-style: none;
}
.donate-link li a{
    height: 128px;
    width: 240px;
    font-weight: bold;
    font-size: 30px;
    border-radius: 8px;
    margin: 30px;
    padding: 10px 20px;
    background-color: white;
    text-decoration: none;
    color: #0E0E0E;
  
}
.donate-link .amount-donate{
    background-color: #006A50;
}
.donate-link li a:hover{
    /* background-color: #6caf9e; */
    background-color:#006A50;
    color: white;
    transition: 0.4s ease;
}

.form-make{
    margin-top: 4rem;
   text-align: center;

}
#amount-input-filed{
    padding: 1rem 18rem;
    border: none;
    border-radius: 10px;
    margin-bottom: 3rem;
}
#doneBtn{
    background-color: #006A50;
    text-decoration: none;
    padding: 11px 20px;
    color: #F5F5F5;
    border-radius: 5px;
    border: none;
    font-family:"Fira Sans", serif;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}
#doneBtn:hover{
    background-color: #3cca04;
}
/* subscription letter start  */
.Subscribe{
  margin-top: 4rem;
}
.Subscribe-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1280px;
    height: 395px;
    background-color: #C6E4D6;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
    padding:20px;
}
.Subscribe-container-content{
   
    text-align: center;
     margin: 0 auto;
    
}
.Subscribe-container-content .Subscribe-title{
    font-family:"Fira Sans", serif;
    font-weight: 700;
    font-size: 40px;
    color: #0E0E0E;
    margin-bottom: 2rem;
}
.Subscribe-container-content .Subscribe-paragraph{
    font-family:"Fira Sans", serif;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.5;
}
.Subscribe-form-desing{
    margin-top: 2rem;
    
}
.Subscribe-form-desing .email-input input{
    padding:10px 5rem;
    font-size: 20px;
    border: none;
    border-radius: none;
}
.email-input #text-email{
    border-radius:8px 0 0 8px;
    margin-right: 0;
}
.email-input #done-Subscribe{
    background-color: #006A50;
    margin-left: 0;
    border-radius:0 8px 8px 0;
    cursor: pointer;
}
#done-Subscribe:hover{
    background-color: #3cca04;
}
.Subscribe-form-desing .promise{
    margin-top: 3rem;
    font-family:"Fira Sans", serif;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.7;
}
/* footer section  */
.nav-footer{
   
    background-color: white;
    margin-top: 4rem;
    padding-top: 3rem;
    width: 100%;
}

.footer-nav-container .footer-nav-title{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-family:"Fira Sans", serif;
    font-weight: 400;
    font-size: 32px;
   
}
.Bangladesh{
    padding-bottom: 2rem;
   
}
.footer-nav-title1{
 margin-top: 1.5rem;
}
.footer-social-link{
    display: flex;
    width: 60%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.footer-nav-title1 .footer-social-link{
    margin: 0 auto;
    text-align: center;
    font-family:"Fira Sans", serif;
    font-weight: 400;
    font-size: 32px;
}
.footer-social-link li{
    padding: 20px;
    list-style: none; 
}
